#counter{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:60px
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EBE1D1;
}

#d1{
    height: 32vh;
    width:27vh;
    background-color:  #0D4715;
    border-radius: 10px;

}

#d2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 25vh;
    width:35vh;
    left:-4vh;
    border-radius: 10px;
    background-color: #41644A;
}



#controls{
    display: flex;
    justify-content: center;
    gap:15px;

}

#text{
    font-size: 60px;
}

button{
    padding: 9px;
    background-color: #0D4715;
    border:none;
    border-radius: 10px;
    color: #e9e3dc;
}

#count{
    font-family: sans-serif;
    font-size: 40px;
}
